

body {
 
    background-color: #000000;

}




.main-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 1438px;
    height: 224px;
    margin: 0 auto;
    padding: 45px 170px 45px 170px;
    background: url(assets/img/banner_rules.png)
    no-repeat center;
    background-size: contain ;
    border: 1px solid #000000;
    overflow: hidden;
}
.rules {
    display: flex;
    margin-left: 18%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
  
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #212529;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #343a40;
}

p{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #495057;
}

section li{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #495057;
}


container2 section {
    width:80%;
    padding-right: 20vh;
}

ul {
    padding-left: 5vh; /* 添加左边缩进 */
}

section{
    display: flex;
    justify-content: center;
}

btn-outline-dark {
    padding-left: 40%;
}

.father{
    text-align: center;
}