
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the body styles */
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000000;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;  /* Ensure text is centered in body */
}


/* Navbar container */
.navbar-container {
    width: 100%;

    background-color: #000000;
    padding: 15px 25px;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    max-width: 1425px;
    margin: 0 auto;
}

/* Logo style */
.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* Menu container */
.menu {
    display: flex;
    justify-content: center; /* Center menu items */
    gap: 20px; /* Space between menu items */

}

/* Menu item */
.menu-item {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Hover effect for menu items */
.menu-item:hover {
    color: #ff5722; /* Change color on hover */
}

/* Dropdown indicator */
.dropdown-indicator {
    width: 5px;
    height: 5px;
    margin-left: 5px;
}

/* Icon box for the account icon */
.icon-box {
    width: 24px;
    height: 24px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* 对"RESULTS"菜单项进行单独的样式调整 */
.menu-item-results {
    font-size: 11px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* 小箭头样式 */
.dropdown-indicator {
    width: 3px;
    height: 3px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}



/* 对其他菜单项进行调整 */
.menu-item-rules, .menu-item-platforms, .menu-item-home {

    font-size: 11px;
    letter-spacing: 1.3px;
}



.icon-box div {
    width: 20px;
    height: 20px;
    background: white;
}

.footer-logo {
    width: 50%;
    text-align: center;  /* Centering text in footer */
    padding: 20px 0;
    display: flex;
    justify-content: center;  /* Horizontally center the logo */
    align-items: center;      /* Vertically center the logo */
    margin: 0 auto;           /* Make sure it stays centered */
}

/* Footer logo image */
.footer-logo img {
    max-width: 100%; /* Set the footer logo width */
    height: auto;
}


/* Page content */
#page-content {

    text-align: center;
}
.full-screen-div {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */

}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
    width: 5px;  /* 滚动条的宽度 */
    height:5px; /* 水平滚动条的高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: #000000;  /* 滚动条轨道的背景色 */
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #333333;  /* 滚动条的颜色 */
    border-radius: 10px;  /* 滚动条的圆角 */
}

/* 滚动条的悬停状态 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555555;  /* 滚动条悬停时的颜色 */
}

.dropdown-menu {
    border: 0;
    text-transform: none;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3); }
@media (min-width: 768px) {
    .dropdown-menu:before {
        content: '';
        top: -8px;
        position: absolute;
        left: 50px;
        border-top: 16px solid #fff;
        border-left: 16px solid #fff;
        transform: rotate(45deg); } }

.btn-info {
    color: #212529;
    background-color: #09ebaf;
    border-color: #09ebaf; }
.btn-info:hover {
    color: #fff;
    background-color: #08c694;
    border-color: #07ba8a; }
.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(9, 235, 175, 0.5); }
.btn-info.disabled, .btn-info:disabled {
    color: #212529;
    background-color: #09ebaf;
    border-color: #09ebaf; }
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #07ba8a;
    border-color: #07ae81; }
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(9, 235, 175, 0.5); }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0; }
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #502c6c; }
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    background-color: transparent; }