

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth
}

.navbar-container {
    width: 100%;
    background-color: #000000;
    padding: 15px 25px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1425px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu-item:hover {
    color: #ff5722;
}

.dropdown-indicator {
    width: 5px;
    height: 5px;
    margin-left: 5px;
}

.icon-box {
    width: 24px;
    height: 24px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-results {
    font-size: 11px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown-indicator {
    width: 3px;
    height: 3px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.menu-item-rules, .menu-item-platforms, .menu-item-home {
    font-size: 11px;
    letter-spacing: 1.3px;
}

.icon-box div {
    width: 20px;
    height: 20px;
    background: white;
}

.footer-logo {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
}

#page-content {
    text-align: center;
}

.full-screen-div {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

#dropdownMenu {
    max-height: calc(5 * 40px);
    overflow-y: auto;
}



.alert-box {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: #e0e0e0;
    color: #333;
    border: 1px solid #ccc;
    position: fixed;
    left: 40%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
}