

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;  /* Ensure text is centered in body */
}

.main-container {
    overflow: hidden;
    height: 70%;
}

.main-container,

.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 100%;
    height: 673px;
    margin: 0 auto;
}
.pic {
    position: absolute;
    width: 100%;
    height: auto;

    left: 0;

    no-repeat:center;
    background-size: cover;
}
.rectangle {
    position: relative;
    width: 186px;
    height: 52px;
    margin: 332px 0 0 160px;
    cursor: pointer;
    border: none;
    left: -106.5%;
    top: 3%;
    z-index: 7;
    border-radius: 8px;
}

.arrow-right {
    position: absolute;
    width: 2.52%;
    height: 17.95%;
    top: 44.87%;
    left: 64.12%;
    background:
    no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
}
.recommended {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 70px;
    top: 15%;
    left: 89px;
    color: white;
    font-family: Figtree, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.ryzen-ai-recommended {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 474px;
    height: 240px;
    top: 18%;
    left: 81px;
    color: white;
    font-family: Cabin, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    z-index: 4;
}
.platforms {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 70px;
    top: 25%;
    left: 183px;
    color:white;
    font-family: Figtree, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}

.tabs-container {
    position:relative ;
    width: 90%; 
    left: 5%;
    position: -webkit-sticky; 
    background-color: rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 100000;
  }
  
  .tabs {
    display: flex;
    position: fixed;
    background-color: black;

    border-bottom: 1px solid #ddd;
    position: relative; 
    width: 100%;
    transition: all 0.3s ease; 
    z-index: 100000;
  }
  
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    color: white;
    position: relative;
    opacity: 1;
    background-color: black;
    z-index: 100000;
  }
  
  .tab.active {
    font-weight: bold;
  }


  
  .tab.active::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: #e9dd07; 
    position: absolute;
    bottom: 0;
    left: 25%; 
  }
  
  .tab:hover {
    background-color: #f8f8f8; /* 悬浮效果 */
  }
.indicator {
    flex-shrink: 0;
    position: absolute;
    height: 2px;
    right: -0.5px;
    bottom: 0;
    left: 0;
    background: #65558f;
    z-index: 19;
}



  
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  

  .content-left {
    flex: 1;
    max-width: 55%;
  }
  
  .section-title {
    font-size: 28px;
    color: white;
    margin-bottom: 40px;
  }
  
  .accordion {
    border-top: 1px solid #ddd;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    width: 150%;
  }
  
  .accordion-header {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .accordion-header:hover {
    color: #0078d7;
  }
  
  .accordion-content {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  
  .content-right {
    flex: 1;
    max-width: 50%;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    display: none;
    width: 100vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-container img.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* 动画效果 */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .sidebar {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
  }

  ul {
    padding-left: 20px;
  }
  .board-section {
    margin-bottom: 30px;
  }
  .board-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .board-description {
    margin-bottom: 10px;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }