:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.html{
    background-color: #ffffff;
}


.main-container,
.main-container * {
    box-sizing: border-box;
}




/* Container for the tabs */
.tabit-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    font-family: Arial, sans-serif;
    width:61.8%;
    margin : 0 auto;
}

/* Style for each tab */
.tab-it {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

/* Active tab styles */
.tab-it.active {
    font-weight: bold;
    color: #000;
    position: relative;
}

/* Underline for active tab */
.tab-it.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}

/* Tab hover effect */
.tab-it:hover {
    font-weight: bold;
    color: #000;
    position: relative;
}